# Basic Data Structure

##### Info of Single Student

In [ ]:
student_sl = ['Ahmed Ali', 'Egypt, Giza', 24, 88.45]
student_sl

['Ahmed Ali', 'Egypt, Giza', 24, 88.45]

##### Info of Single Student with Names of Data

In [ ]:
student_sd = {'name' : 'Ahmed Ali', 'address' : 'Egypt, Giza', 'age' : 24, 'gpa': 88.45}
student_sd

{'address': 'Egypt, Giza', 'age': 24, 'gpa': 88.45, 'name': 'Ahmed Ali'}

##### Info of Multiple Students

In [ ]:
students_ml = [['Ahmed', 'Egypt, Giza', 24, 88.45],
            ['Hosam', 'Egypt, Sharm', 22, 78.12],
            ['Malek', 'Jordan, Amman', 21, 89.63]]
students_ml

[['Ahmed', 'Egypt, Giza', 24, 88.45],
 ['Hosam', 'Egypt, Sharm', 22, 78.12],
 ['Malek', 'Jordan, Amman', 21, 89.63]]

##### Info of Multiple Students with Names of Data

In [ ]:
students_mld = [{'name' : 'Ahmed', 'address' : 'Egypt, Giza', 'age' : 24, 'gpa': 88.45},
            {'name' : 'Hosam', 'address' : 'Egypt, Sharm', 'age' : 22, 'gpa': 78.12},
            {'name' : 'Malek', 'address' : 'Jordan, Amman', 'age' : 21, 'gpa': 89.63}]
students_mld

[{'address': 'Egypt, Giza', 'age': 24, 'gpa': 88.45, 'name': 'Ahmed'},
 {'address': 'Egypt, Sharm', 'age': 22, 'gpa': 78.12, 'name': 'Hosam'},
 {'address': 'Jordan, Amman', 'age': 21, 'gpa': 89.63, 'name': 'Malek'}]

In [ ]:
students_mdd = {'first': {'name' : 'Ahmed', 'address' : 'Egypt, Giza', 'age' : 24, 'gpa': 88.45},
            'second': {'name' : 'Hosam', 'address' : 'Egypt, Sharm', 'age' : 22, 'gpa': 78.12},
            'third': {'name' : 'Malek', 'address' : 'Jordan, Amman', 'age' : 21, 'gpa': 89.63}}
students_mdd

{'first': {'address': 'Egypt, Giza', 'age': 24, 'gpa': 88.45, 'name': 'Ahmed'},
 'second': {'address': 'Egypt, Sharm',
  'age': 22,
  'gpa': 78.12,
  'name': 'Hosam'},
 'third': {'address': 'Jordan, Amman',
  'age': 21,
  'gpa': 89.63,
  'name': 'Malek'}}



---

# Pandas DataFrame

##### Import library

In [ ]:
import pandas as pd

In [ ]:
students_ml_df = pd.DataFrame(students_ml)
students_ml_df

       0              1   2      3
0  Ahmed    Egypt, Giza  24  88.45
1  Hosam   Egypt, Sharm  22  78.12
2  Malek  Jordan, Amman  21  89.63

In [ ]:
students_mld_df = pd.DataFrame(students_mld)
students_mld_df

    name        address  age    gpa
0  Ahmed    Egypt, Giza   24  88.45
1  Hosam   Egypt, Sharm   22  78.12
2  Malek  Jordan, Amman   21  89.63

In [ ]:
students_mdd_df = pd.DataFrame(students_mdd)
students_mdd_df

               first        second          third
name           Ahmed         Hosam          Malek
address  Egypt, Giza  Egypt, Sharm  Jordan, Amman
age               24            22             21
gpa            88.45         78.12          89.63

DataFrame (data, columns, index)

##### DataFrame with List

In [ ]:
data = [['Ahmed', 'Egypt, Giza', 24, 88.45],
            ['Hosam', 'Egypt, Sharm', 22, 78.12],
            ['Malek', 'Jordan, Amman', 21, 89.63]]

columns = ['name', 'address', 'age', 'gpa']

df = pd.DataFrame(data=data, columns=columns)
df

    name        address  age    gpa
0  Ahmed    Egypt, Giza   24  88.45
1  Hosam   Egypt, Sharm   22  78.12
2  Malek  Jordan, Amman   21  89.63

In [ ]:
data = [['Ahmed', 'Egypt, Giza', 24, 88.45],
            ['Hosam', 'Egypt, Sharm', 22, 78.12],
            ['Malek', 'Jordan, Amman', 21, 89.63]]

columns = ['name', 'address', 'age', 'gpa']
index = ['01', '02', '03']

df = pd.DataFrame(data=data, columns=columns, index=index)
df

     name        address  age    gpa
01  Ahmed    Egypt, Giza   24  88.45
02  Hosam   Egypt, Sharm   22  78.12
03  Malek  Jordan, Amman   21  89.63

In [ ]:
df.columns = ['nm', 'ad', 'ag', 'gpa']
df

       nm             ad  ag    gpa
01  Ahmed    Egypt, Giza  24  88.45
02  Hosam   Egypt, Sharm  22  78.12
03  Malek  Jordan, Amman  21  89.63

In [ ]:
df.index = df['nm']
df

          nm             ad  ag    gpa
nm
Ahmed  Ahmed    Egypt, Giza  24  88.45
Hosam  Hosam   Egypt, Sharm  22  78.12
Malek  Malek  Jordan, Amman  21  89.63

##### DataFrame with Dict

In [ ]:
data = [{'name' : 'Ahmed', 'address' : 'Egypt, Giza', 'age' : 24, 'gpa': 88.45},
            {'name' : 'Hosam', 'address' : 'Egypt, Sharm', 'age' : 22, 'gpa': 78.12},
            {'name' : 'Malek', 'address' : 'Jordan, Amman', 'age' : 21, 'gpa': 89.63}]

df = pd.DataFrame(data=data)
df

    name        address  age    gpa
0  Ahmed    Egypt, Giza   24  88.45
1  Hosam   Egypt, Sharm   22  78.12
2  Malek  Jordan, Amman   21  89.63

In [ ]:
data = [{'name' : 'Ahmed', 'address' : 'Egypt, Giza', 'age' : 24},
            {'name' : 'Hosam', 'address' : 'Egypt, Sharm', 'gpa': 78.12},
            {'name' : 'Malek', 'age' : 21, 'gpa': 89.63}]

df = pd.DataFrame(data=data)
df

    name       address   age    gpa
0  Ahmed   Egypt, Giza  24.0    NaN
1  Hosam  Egypt, Sharm   NaN  78.12
2  Malek           NaN  21.0  89.63

##### DataFrame Metadata

In [ ]:
df.columns

Index(['name', 'address', 'age', 'gpa'], dtype='object')

In [ ]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [ ]:
df.attrs['src'] = 'my src'
df.attrs['about'] = 'info about students'
df.attrs['approx'] = 'very high'

df.attrs

{'about': 'info about students', 'approx': 'very high', 'src': 'my src'}

In [ ]:
df.describe()

            age        gpa
count   2.00000   2.000000
mean   22.50000  83.875000
std     2.12132   8.138799
min    21.00000  78.120000
25%    21.75000  80.997500
50%    22.50000  83.875000
75%    23.25000  86.752500
max    24.00000  89.630000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     3 non-null      object
 1   address  2 non-null      object
 2   age      2 non-null      float64
 3   gpa      2 non-null      float64
dtypes: float64(2), object(2)
memory usage: 224.0+ bytes

##### DataFrame - Get Row

loc[index]  
index can be int or str

In [ ]:
df.loc[0]

name             Ahmed
address    Egypt, Giza
age                 24
gpa                NaN
Name: 0, dtype: object

iloc[index]  
index is only int

In [ ]:
df.iloc[0]

name             Ahmed
address    Egypt, Giza
age                 24
gpa                NaN
Name: 0, dtype: object

loc[from:to]  
to is included

In [ ]:
df.loc[0:2]

    name       address   age    gpa
0  Ahmed   Egypt, Giza  24.0    NaN
1  Hosam  Egypt, Sharm   NaN  78.12
2  Malek           NaN  21.0  89.63

iloc[from:to]  
to is excluded

In [ ]:
df.iloc[0:2]

    name       address   age    gpa
0  Ahmed   Egypt, Giza  24.0    NaN
1  Hosam  Egypt, Sharm   NaN  78.12

In [ ]:
df.iloc[0:1]

    name      address   age  gpa
0  Ahmed  Egypt, Giza  24.0  NaN

##### str index

In [ ]:
data2 = [{'name' : 'Ali', 'address' : 'Egypt, Cairo', 'age' : 23},
            {'name' : 'Sarah', 'address' : 'Palestine, Gaza', 'gpa': 88.99},
            {'name' : 'Majd', 'age' : 22, 'gpa': 71.63}]

df2 = pd.DataFrame(data2)
df2

    name          address   age    gpa
0    Ali     Egypt, Cairo  23.0    NaN
1  Sarah  Palestine, Gaza   NaN  88.99
2   Majd              NaN  22.0  71.63

In [ ]:
df2.index = ['first', 'second', 'third']
df2.index

Index(['first', 'second', 'third'], dtype='object')

In [ ]:
df2.loc['first']

name                Ali
address    Egypt, Cairo
age                  23
gpa                 NaN
Name: first, dtype: object

In [ ]:
df2.loc['first': 'third']

         name          address   age    gpa
first     Ali     Egypt, Cairo  23.0    NaN
second  Sarah  Palestine, Gaza   NaN  88.99
third    Majd              NaN  22.0  71.63

##### DataFrame - Get Columns

In [ ]:
df['age']

0    24.0
1     NaN
2    21.0
Name: age, dtype: float64

In [ ]:
df[['name', 'age']]

    name   age
0  Ahmed  24.0
1  Hosam   NaN
2  Malek  21.0

In [ ]:
df[['name', 'age']].loc[0]

name    Ahmed
age        24
Name: 0, dtype: object

##### DataFrame - Some Operations

merge 2 or more DataFrame's

In [ ]:
df3 = pd.concat([df, df2])
df3

         name          address   age    gpa
0       Ahmed      Egypt, Giza  24.0    NaN
1       Hosam     Egypt, Sharm   NaN  78.12
2       Malek              NaN  21.0  89.63
first     Ali     Egypt, Cairo  23.0    NaN
second  Sarah  Palestine, Gaza   NaN  88.99
third    Majd              NaN  22.0  71.63

apply math operation

In [ ]:
df['gpa'] = df['gpa'] + 0.23
df

    name       address   age    gpa
0  Ahmed   Egypt, Giza  24.0    NaN
1  Hosam  Egypt, Sharm   NaN  78.35
2  Malek           NaN  21.0  89.86

In [ ]:
df['gpa'].min()

78.35000000000001

In [ ]:
df['gpa'].max()

89.86

In [ ]:
df.max()

name    Malek
age        24
gpa     89.86
dtype: object

In [ ]:
df['gpa'].mean()

84.105

##### Resources

https://www.geeksforgeeks.org/python-pandas-dataframe/  
https://www.tutorialspoint.com/python_pandas/python_pandas_dataframe.htm  
https://www.datacamp.com/community/tutorials/pandas-tutorial-dataframe-python  
https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html  
https://www.learndatasci.com/tutorials/python-pandas-tutorial-complete-introduction-for-beginners/  
https://www.youtube.com/watch?v=UB3DE5Bgfx4